// 项目提供scss全局变量
//左侧的菜单的宽度
$base-menu-width:240px;
//左侧菜单背景颜色
$base-menu-background:white;
//左侧菜单缩小宽度
$base-menu-min-width:70px;


// 顶部导航的背景颜色
$base-tabbar-color:white;
// 顶部导航的高度
$base-tabbar-height:50px;

//内容区域的背景颜色
$basee-main-color:white;



//logo组件高度
$base-logo-height:50px;
//logo右侧文字大小
$base-logo-title-fontSize:15px;
